@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
  /* dim*/
  --aside-width: 225px;
  --headfoo-width: 75px;
  --row-max-height: 280px;
  --col-max-width: 180px;
  --min-gap: 15px;

  /* palette */
  --color-header: #080B12;
  --color-aside: #000000;
  --color-backcontent: #141922;
  --color-footer: #282828;
}

/* GENERAL */ 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif; 
}

header, 
footer{
  height: var(--headfoo-width);
  width: 100%;
  position: fixed;
}

a{
  text-decoration: none;
  color: white;
}

.btn{
  background-color: var(--color-header);
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
  flex-shrink: 0;
}

.btn:hover{
}

/* utilities */

.debug{
  background-color:burlywood;
  border: 1px solid firebrick;
}

.container{
}

.flex-centend{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* HEADER */
header{
  background-color: var(--color-header);
  top: 0;
  z-index: 0;
  padding: 20px 10px;
}

header .btn{
  float: right;
}

/* MAIN */
main{
  padding: var(--headfoo-width) 0;
  display: flex;
}

/* ASIDE */
aside{
  width: var(--aside-width);
  height: calc(100vh - var(--headfoo-width));
  background-color: var(--color-aside);
  position: fixed;
  top: 0;
  z-index: 1;
}

/* CONTENT */
.content{
  width: calc(100vw - var(--aside-width));
  height: calc(100vh - ((var(--headfoo-width)* 2)));
  overflow-y: auto;
  position: fixed;
  right: 0;
  padding: 15px 45px 15px 15px;
  background-color: var(--color-backcontent);
}

/* ROW */
.row{
  width: 100%;
  height: var(--row-max-height);
  display: flex;
}

.row .col{
  width: calc((100% - (var(--min-gap) * 6)) / 6);
  height: 100%;
  margin-right: 15px;
}

.row .col .card{
  width: calc(100% - 15px);
  max-width: 250px;
  height: 100%;
}

.row .col .card .card-img{
  aspect-ratio: 1/1;
  width: 100%;
  background-color: blueviolet;
} */

/* FOOTER */
footer{
  bottom: 0;
  background-color: var(--color-footer);
}

/* ####################### 
    --- MEDIA QUERY ---
   ####################### */

@media screen and (max-width: 1337px) {
  .row{
    flex-wrap: wrap;
  }

  .row .col{
    width: calc((100% - (var(--min-gap) * 4)) / 4);
  }
}


@media screen and (max-width: 878px) {
  .row{
    flex-wrap: wrap;
  }

  .row .col{
    width: calc((100% - (var(--min-gap) * 2)) / 2);
  }
}


@media screen and (max-width: 639px) {
}


@media screen and (max-width: 552px) {
  :root{
    --aside-width: 40px;
  }
}