@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{

  /* dimensions */
  --header-height: 75px;
  --aside-width: 230px; 
  --footer-height: 90px;
  --min-gap: 15px;

  /* palette */
  --color-text-grey: #717171;
  --color-aside-back: #000000;
  --color-main-back: #141922;
  --color-footer-back: #282828;
  --color-green: #ADFF2F;
}

/* utilities */
.debug{
  border: 1px solid firebrick;
  background-color: rosybrown
}

.container{
  height: 100%;
  width: 100%;
}

.flex-cen{
  display: flex;
  justify-content: center;
}

.flex-bet{
  display: flex;
  justify-content: space-between;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.p-10{
  padding-bottom: 10px;
}

.p-15{
  padding-bottom: 15px;
}

.p-20{
  padding-bottom: 20px;
}

.p-30{
  padding-bottom: 30px;
}

/* scroller default for FIREFOX */
.scroller{
  scrollbar-color: var(--color-green) var(--color-text-grey);
  scrollbar-width: thin;
}

/* scroller for CHROME*/
.scroller::-webkit-scrollbar {
  width: 10px;
  background: var(--color-text-grey);
  -webkit-border-radius: 30px;
  scrollbar-gutter: stable;
}

.scroller::-webkit-scrollbar-thumb {
  background: var(--color-green);
  -webkit-border-radius: 30px;
}

/* GENERAL */ 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif; 
}

header,
main,
footer{
  position: fixed;
}

ul{
  list-style: none;
}

h2,
h3,
.right-footer i{
  color: white;
}

a{
  text-decoration: none;
  color: var(--color-text-grey);
}

main nav a:hover{
  color: white;
}

i{
  cursor: pointer;
}

.active::before{
  content: '';
  display: block;
  height: 30px;
  width: 5px;
  position: absolute;
  left: 0;
  background-color: var(--color-green);
}

/* HEADER */
header{
  background-color: rgba(0, 0, 0, .5);
  height: var(--header-height);
  width: calc(100% - var(--aside-width));
  right: 0;
  top: 0;
  padding: 10px 20px;
  z-index: 1;
}

header .container{
  display: flex;
  justify-content: flex-end;
}

.btn{
  background-color: var(--color-header);
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
  flex-shrink: 0;
  transition: .3s;
  margin-right: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.btn:hover{
  transform: scale(1.1);
  border-color: var(--color-green);
  color: var(--color-green);
}

/* ASIDE */
aside{
  width: var(--aside-width);
  height: calc(100vh - var(--footer-height));
  background-color: var(--color-aside-back);
  padding: 20px;
}

aside a,
main nav a{
  font-size: .8rem;
  font-weight: 600;
}

/* ASIDE TOP*/
aside .aside-top,
aside .aside-bottom{
  flex-shrink: 0;
}

/* LOGO */
.logo img{
  cursor: pointer;
}

.aside-top .logo img:last-child{
  display: none;
  width: 100%;
}

/* FUNCTIONS */
.functions img,
.avatar img{
  width: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.functions li{
  cursor: pointer;
}

nav.functions li:hover > a,
.new:hover > a,
.aside-playlist li:hover > a,
.install:hover > a{
  color: white;
}

nav.functions li:hover > img,
.logo:hover > img{
  filter: brightness(0) saturate(100%) invert(73%) sepia(76%) saturate(436%) hue-rotate(36deg) brightness(112%) contrast(109%);
}

.active a{
  color: white;
}

/* CREATE PLAYLIST */
.create-playlist .new i{
  background-color: var(--color-text-grey);
  padding: 10px;
  margin-right: 5px;
  font-size: 1.4rem;
}

.create-playlist .new:hover > i{
  background-color:var(--color-green);
}

/* ASIDE PLAYLIST */
aside .aside-playlist{
  margin-bottom: auto;
  overflow-y: auto;
}

.aside-playlist li,
.new,
.install,
.avatar{
  cursor: pointer;
}

/* ASIDE BOTTOM */
aside .aside-bottom>div>*:first-child{
  margin-right: 5px;
}

/* INSTALL */
.aside-bottom .install{
  border-bottom: 1px solid var(--color-text-grey);
  padding-bottom: 5px;
  color: white;
}

.install:hover > i,
.center-footer i:hover,
.avatar:hover> a{
  color: var(--color-green);
}

/* AVATAR */
.aside-bottom .avatar{
  padding-top: 10px;
}

.avatar img{
  background-color: var(--color-text-grey);
  border-radius: 50%;
}

.avatar a{
  color: white;
}

/* MAIN */
main{
  right: 0;
  top: 0;
  overflow-y: auto;
  height: calc(100vh - var(--footer-height));
  width: calc(100% - var(--aside-width));
  background-color: var(--color-main-back);
  z-index: 0;
  padding: calc(30px + var(--header-height)) 20px;
}

/* CONTENT */

/* NAV */
main nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

main nav ul li a{
  text-transform: uppercase;
  font-size: .8rem;
  color: var(--color-text-grey);
}

.active-2::after{
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--color-green);
  margin: 2px auto;
}

.sec-title h3{
  color: var(--color-text-grey);
  font-size: .8rem;
}

/* ROW */
.row{
  width: 100%;
  display: flex;
}

.row .col{
  width: calc((100% - (var(--min-gap) * 6)) / 6);
  height: 100%;
  margin-right: var(--min-gap);
  margin-bottom: var(--min-gap);
}

.row .col .card{
  height: 100%;
  cursor:pointer;
}

.row .col .card .card-img img{
  width: 100%;
}

.row .col .card:hover .card-img img{
  filter: opacity(.5);
}

.row .col .card .card-img.circle img{
  border-radius: 50%;
}

.row .col .card:hover .card-img:before{
  display: block;
}

.card-img:before{
  display: none;
  content: "\f144";
  font-family: "Font Awesome 6 Free";
  font-size: 60px;
  position: absolute;
  z-index: 5;
  color: white;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.row .col .card .card-img{
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 280px;
  position: relative;
} 

.row .col .card .card-text{
  text-align: center;
  gap: 10px;
  color: white;
  padding: 10px;
  overflow-wrap: break-word;
}

.row .col .card .card-text h3{
  font-size: 1rem;
}

.row .col .card .card-text h4{
  font-size: .8rem;
  color:var(--color-text-grey);
}

/* FOOTER */

footer{
  height: var(--footer-height);
  width: 100%;
  background-color:var(--color-footer-back);
  bottom:0;
  z-index: 1;
  padding: 10px;
}

footer .container>*{
  height: 100%;
}

footer .right-footer{
  width: 220px;
}

footer .center-footer{
  width: 40%;
}

/* FOOTER LEFT */
.left-footer{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.left-footer img{
  height: 100%;
  margin-right: 10px;
}

.left-footer .text{
  margin-right: 35px;
}

.left-footer .text h4{
  font-size: .9rem;
  color: white;
}

.left-footer .text h5{
  font-size: .7rem;
  color: var(--color-text-grey);
  cursor: pointer;
}

.left-footer .text h5:hover{
  text-decoration: underline;
}

.left-footer .icons{
  display: flex;
  gap: 10px;
  color: var(--color-text-grey);
}

.left-footer .icons i:hover{
  color: white;
}

/* FOOTER CENTER */
.center-footer .inside-buttons{
  font-size: 20px;
  gap: 20px;
  align-items: center;
  color: white;
}

.center-footer .inside-buttons i:nth-child(3){
  font-size: 40px;
}

.player-bar{
  align-items: center;
}

.center-footer .player-bar span{
  font-size:.7rem;
  color: white;
  font-weight: 600;
}

.progress{
  width: 80%;
  height: 5px;
  border-radius: 30px;
  background-color: var(--color-text-grey);
  margin: 0 10px;
  cursor: pointer;
}

.progress:hover .progress-bar{
  background-color: var(--color-green);
}

.progress:hover .progress-bar::before{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  top: 50%; 
  left: 100%; 
  transform: translate(-50%, -50%);
}

.progress .progress-bar{
  width: 25%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
}

/* FOOTER RIGHT */
footer .right-footer{
  display: flex;
  align-items: center;
}

.right-footer .icons{
  display: flex;
  gap: 10px;
  font-size: .75rem;
}

/* ############################ */
/* ####### MEDIA QUERY ######## */
/* ############################ */
@media screen and (max-width: 1337px) {
  .row{
    flex-wrap: wrap;
  }

  .row .col{
    width: calc((100% - (var(--min-gap) * 4)) / 4);
  }
}

@media screen and (max-width: 878px) {
  .row{
    flex-wrap: wrap;
  }

  .row .col{
    width: calc((100% - (var(--min-gap) * 2)) / 2);
  }

  footer .left-footer{
    margin-right: 40px;
  }

  footer .center-footer{
    margin-right: 20px;
  }
}

@media screen and (max-width: 639px) {

  .left-footer .text{
    margin-right: 25px;
  }

  .left-footer .icons{
    flex-direction: column;
  }
}


@media screen and (max-width: 552px) {
  :root{
    --aside-width: 50px;
  }

  aside{
    padding: 20px 5px;
  }

  aside>.container{
    justify-content: space-between;
  }

  .aside-top .logo img:first-child,
  .functions li a,
  .create-playlist,
  .aside-playlist,
  .aside-bottom a,
  .active::before{
    display: none;
  }

  .aside-top .logo img:last-child{
    display: block;
  }

  .functions ul,
  .aside-bottom{
    align-items: center;
  }

  .aside-bottom .install{
    text-align: center;
    padding-top: 5px;
    border: none;
  }

  /* FOOTER */
  footer .container{
    justify-content: flex-start;
  }

  /* LEFT FOOTER */
  .left-footer{
    margin-right: 40px;
  }

  .left-footer .text{
    width: 40px;
  }

  .left-footer img{
    height: 30px;
  } 

  footer .center-footer{
    justify-content: center;
  }

  .player-buttons .inside-buttons{
    font-size: 15px;
    margin:0 10px;
  }

  .player-buttons .inside-buttons i:nth-child(3){
    font-size: 30px;
  }

  footer .right-footer{
    width: 150px;
  }
}

@media screen and (max-height: 535px){
  aside .aside-bottom{
    display: none;
  }
}